//
   Created by goatgoose on 12/31/15.

html
    head
        title=title
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    body
        form(name="url-form", id="url-form" method="post")
            input(type="hidden", name="urlInput", id="urlInput")
        script.
            var urlInput = document.getElementById("urlInput");
            urlInput.value = document.URL;
            document.getElementById("url-form").submit();
        div.container
            div#centerDiv.jumbotron.text-center
                h1 success